.form {
    width: 10vw;

    display: grid;
}

.col1 {
    grid-column: 1;

    min-width: 12.5vw;
    height: 15vh;
}

.col2 {
    grid-column: 2;

    width: fit-content;
    min-height: fit-content;
    height: 6.5vh;
}