.grid {
    display: grid;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;

    margin-top: 12px;

    float: right;
}

.col2 > * {
    float: right;
}

.welcome {
    font-size: 60px;

    text-align: left;
}