.messages {
    overflow-y: scroll;

    height: 90vh;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

.messages > * {
    margin-top: 15px;
}

.cardBody {
    margin: 5px;
}

.messageHeader > * {
    display: inline-block;
}

.messageHeader > span:last-child {
    margin-left: 5px;
}


.reactions > * {
    margin-left: 2px;
}

.onHover {
    display: none;
}

.message:hover > * > .onHover {
    display: block;
}

.authorActions {
    position: absolute;

    z-index: 2;

    top: 5px;
    right: 5px;
}