.messageHeader > * {
    display: inline-block;
}

.messageHeader > span:last-child {
    margin-left: 5px;
}


.reactions > * {
    margin-left: 2px;
}

.onHover {
    display: none;
}

.message:hover > .onHover {
    display: block;
}

/*
.onHover:hover {
    display: block;
}
*/